@media screen and (max-width: 767px) {
  body {
    margin: 0 auto;
    max-width: 320px;
    padding-left: 3px;
  }
  main {
    margin: 0 auto;
  }
  .bg-photo {
    width: 320px;
    height: 540px;
    margin-bottom: 34px;
  }
  .bg-photo .head {
    width: 100%;
    padding-left: 42px;
    margin-bottom: 30px;
  }
  .bg-photo .head-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .bg-photo .head-top-log {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bg-photo .head-top-log-right, .bg-photo .head-top-log-left {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 17px;
    font-style: normal;
    color: #ffffff;
    font-size: 14px;
    margin-top: 20px;
    margin-right: 15px;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 55px;
  }
  .bg-photo .head-top-log-left {
    margin-right: 0;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    padding: 7px 15px;
  }
  .bg-photo .head-center {
    width: 100%;
    min-height: 400px;
  }
  .bg-photo .head-center-first {
    width: 320px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 36.57px;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    margin: 0 auto 5px;
    letter-spacing: 2px;
  }
  .bg-photo .head-center-second {
    color: #F7F3F2;
    width: 270px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 24.5px;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    margin: 0 auto 15px;
  }
  .bg-photo .head-center-bttn {
    width: 90%;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 17.07px;
    font-style: normal;
    font-size: 14px;
    text-align: center;
    padding: 12px 0px;
    margin: 0 auto;
    letter-spacing: 0.6px;
    cursor: pointer;
  }
  h3 {
    margin: 0 auto;
    font-weight: 700;
    line-height: 26.82px;
    font-size: 22px;
    text-align: center;
  }
  .hero {
    margin: 0 auto;
    max-width: 320px;
  }
  .hero .step {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 15px;
  }
  .hero .step-one {
    background-size: cover;
    width: 100%;
    height: 240px;
    margin-bottom: 10px;
  }
  .hero .step-one-numb {
    margin-bottom: 40px;
  }
  .hero .step-one-name {
    line-height: 15px;
    margin-bottom: 20px;
  }
  .hero .step-two {
    background-size: cover;
    width: 100%;
    height: 240px;
    margin-bottom: 10px;
  }
  .hero .step-three {
    background-size: cover;
    width: 100%;
    height: 240px;
    margin-bottom: -50px;
  }
  .people {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex {
    display: block;
  }
  .block-first {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 320px;
  }
  .block-first-photo-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block-first-photo-row-active {
    width: 100%;
    height: 120px;
    margin-bottom: 15px;
  }
  .block-first-photo-row-health {
    width: 100%;
    height: 120px;
    margin-bottom: 15px;
  }
  .block-first-photo-row-extreme {
    width: 100%;
    height: 120px;
  }
  .block-second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 320px;
  }
  .block-second-photo-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block-second-photo-row-games {
    width: 100%;
    height: 120px;
    margin-bottom: 15px;
  }
  .block-second-photo-row-education {
    width: 100%;
    height: 120px;
  }
  .block-threeth {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 320px;
  }
  .block-threeth-photo-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block-threeth-photo-row-relax {
    width: 100%;
    height: 120px;
    margin-bottom: 15px;
  }
  .block-threeth-photo-row-travel {
    width: 100%;
    height: 120px;
  }
  .box {
    width: 320px;
    padding: 0 40px;
  }
  .people {
    width: 320px;
  }
  hr {
    min-width: 320px;
    margin-bottom: 15px;
  }
  .foot-company-bttn {
    width: 150px;
  }
  .see {
    width: 100%;
    margin-top: 10px;
  }
  .discover {
    padding-top: 25px;
  }
  .people-name {
    width: 60%;
  }
  h6 {
    width: 80%;
  }
  .activity {
    padding-top: 35px;
    margin-bottom: 9px;
  }
  .search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  input[type=search] {
    margin-bottom: 20px;
    width: 95%;
  }
  input[type=submit] {
    width: 95%;
    margin-bottom: 40px;
  }
  .box {
    width: 65%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .box .foot-dream {
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .foot-partners {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 15px;
  }
  .foot {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .column {
    -ms-grid-columns: 120px 85px;
        grid-template-columns: 120px 85px;
    margin-bottom: 15px;
  }
  .desby {
    text-align: center;
  }
}
/*# sourceMappingURL=phone.css.map */